<!DOCTYPE html>
<html ng-app="dashboard">
<head>
    <title><%= title %></title>

    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

    <meta name="robots" content="noindex">
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    
    <% for(var i=0; i<css.length; i++) {%>
   		<link rel="stylesheet" href="<%= css[i] %>" />
	<% } %>
   
</head>

<body>

	<div class="side-menu">
		<div class="side-menu-top">
			<img src="img/kitten.jpg">
			<p>Kitten</p>
		</div>
		<div class="side-menu-chunk">
			<p>Main</p>
			<ul>
				<li class="settings-icon">Settings</li>
				<li class="lock-icon">Security</li>
				<li class="camera-icon">Photos</li>
				<li class="tag-icon">Links</li>
			</ul>
		</div>
		<div class="side-menu-chunk">
			<p>Admin</p>
			<ul>
				<li class="settings-icon">Settings</li>
				<li class="lock-icon">Security</li>
				<li class="camera-icon">Photos</li>
				<li class="tag-icon">Links</li>
			</ul>
		</div>
		<div class="side-menu-chunk special">
			<p>Categories</p>
			<ul>
				<li><span class="blue-icon"></span>Settings</li>
				<li><span class="green-icon"></span>Security</li>
				<li><span class="red-icon"></span>Photos</li>
				<li><span class="yellow-icon"></span>Links</li>
			</ul>
		</div>
	</div>
	<div class="top-menu"></div>
	<div class="content">
		<ng-view></ng-view>
	</div>

	<% for(var i=0; i<scripts.length; i++) {%>
   		<script src="<%= scripts[i] %>"></script>
	<% } %>

	<% for(var i=0; i<fx.length; i++) {%>
   		<script src="<%= fx[i] %>"></script>
	<% } %>

</body>
</html>