
* { margin:0; padding:0;}

html, body { height:100%; width: 100%; }

/* side menu */
.side-menu { width:15%; height:100%; float:left; font-family:arial; font-size:12px; background-color:#354051;}
.side-menu .side-menu-top { width:100%; padding-bottom: 40px; border-bottom:2px solid #2B3442 }
.side-menu .side-menu-top img { width:80px; height:80px; margin:40px auto 5px; display:block; border-radius:40px; }
.side-menu .side-menu-top p { color: #98A3B6; text-align: center; }
.side-menu .side-menu-chunk { width:100%; padding:40px 20px; box-sizing:border-box; float:left; border-bottom:2px solid #2B3442; background-color:#354051}
.side-menu .side-menu-chunk p { margin-bottom:5px; color:#616F87; }
.side-menu .side-menu-chunk ul { list-style:none; }
.side-menu .side-menu-chunk ul li { padding-left:20px; margin-bottom:5px; text-transform:uppercase; background-size:12px; color:#98A3B6; }
.side-menu .side-menu-chunk.special ul li { padding-left:0; }
.side-menu .side-menu-chunk ul li span { width:12px; height:12px; margin-right:5px; display:block; float:left; }

/* top menu */
.top-menu { width:85%; height:80px; float:left; border-bottom:2px solid #2B3442; }

/* icons */
.settings-icon { background:url(../img/settings-icon.png) no-repeat; }
.lock-icon { background: url(../img/lock-icon.png) no-repeat; }
.camera-icon { background: url(../img/camera-icon.png) no-repeat; }
.tag-icon { background: url(../img/tag-icon.png) no-repeat; }

/* color blocks */
.blue-icon { background-color:blue; }
.green-icon { background-color:green; }
.red-icon { background-color:red; }
.yellow-icon { background-color:yellow; }